<div class="container">
    <p>Введите строку JSON</p>
    <div class="row">
        <div class="col-sm">
            <textarea class="form-control" #textBox                      
                      style="height: 500px;">
                    {{ ArrayOfJson | json }}
            </textarea>               
            <button class="btn btn-success" (click)="LoadJsonData(textBox.value)" id="KeepId">Продолжить</button>
            <button class="btn btn-primary" (click)="UnloadJson()" id="UnloadId">Выгрузить</button>           
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let element of JSONString" (click)="SelectElement($event)" class="ShowSelectedElement">
                        <td>
                            <input class="InputInsideTdStyle" value="{{element.name}}">
                        </td>
                        <td>
                            <input class="InputInsideTdStyle" value="{{element.year}}"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <div class="col-sm" style="border: 1px grey solid;">      
            <div class="container">
                <p>Name</p>
                <input type="text" [value]="name" class="form-control" #UpdateName/><br>
                <p>Year</p>
                <input type="text" [value]="year" class="form-control" #UpdateYear/>
            </div><br>
            <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button class="btn btn-primary" (click)="Update(UpdateName.value, UpdateYear.value)">Обновить</button>
                </div>
                <div class="col-sm">
                    <button class="btn btn-success" (click)="Create(UpdateName.value, UpdateYear.value)">Новый</button>
                </div>
                <div class="col-sm">
                    <button class="btn btn-danger" (click)="Delete(UpdateName.value, UpdateYear.value)">Удалить</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

